../../../../../../../../release/baselineProfiles/
../../../../../../../../release/Griddle-1.1.21.apk
implementation/.idea
implementation/implementation.imlcom/galacticware/griddle/domain/design/.gitignore
com/galacticware/griddle/domain/design/*
